*.sif
**/__pycache__/
**/training_dataset/
**/wandb
**/*.log
**/*.pt 
**/*.pth
**/*.h5
**/*.fasta 
**/*.faa 
**/*.csv 
**/*.tsv
**/*.[eo][0-9]*


runs/
data/raw_fastas
data/clustered_fastas
data/processed_fastas
data/generation/bin/data/__pycache__/
data/generation/bin/descriptors/__pycache__/
data/generation/bin/descriptors/support_data/